a {
    text-decoration: none;
}

#wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

main {
    padding-top: 24px;
    padding-bottom: 97px;
}

.text-small {
    font-size: 85%;
}

.text-xsmall {
    font-size: 75%;
}

.text-hover-underline:hover {
    text-decoration: underline;
}

.dropdown-toggle {
    outline: 0;
}

header .dropdown-menu {
    min-width: 280px !important;
}

#dropdownUser1::after {
    content: none !important;
}

.card-title {
    font-size: 1rem !important;
}

.card-text {
    font-size: .85rem !important;
}

.card:hover .card-img-top {
    opacity: .5;
}

.card:hover .card-options {
    display: block;
}

.card .card-options {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    border: solid #444 1px;
    border-radius: 5px;
    background-color: #fff;
    display: none;
}

    .card .card-options a.dropdown-toggle {
        display: block;
        width: 30px;
        line-height: 30px;
        text-align: center;
    }

    .card .card-options:hover {
        background-color: #e0e0e0;
    }

    .card .card-options .dropdown-toggle::after {
        content: none;
    }

.sp-cover img {
    padding: 2px;
    border: solid #fff 3px;
    border-radius: 5px;
}

.sp-cover.selected img {
    border: solid #444 3px;
}

.nav-tabs .nav-link {
    color: #495057;
    font-weight: bold;
    background-color: #fff;
    border-bottom-color: #dee2e6;
}

    .nav-tabs .nav-link.active {
        border-color: #fff #fff #495057;
        border-width: 2px;
    }

    .nav-tabs .nav-link:hover {
        color: #222;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #fff;
        isolation: isolate;
    }

.sp-conteudo-lista {
    color: blue;
}

    .sp-conteudo-lista h5, .sp-conteudo-lista .flag {
        font-size: 85%;
        font-weight: bold;
    }

        .sp-conteudo-lista .flag i {
            transition: all .2s ease;
        }

        .sp-conteudo-lista .flag.rotate i {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }

    .sp-conteudo-lista h6 {
        font-size: 75%;
    }

    .sp-conteudo-lista .list-group-item {
        font-size: 85%;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .sp-conteudo-lista dd a {
        display: block;
        padding: 16px;
    }

        .sp-conteudo-lista dd a:hover {
            background-color: #d1d7dc;
        }

.sortable li {
    margin: 2px 0;
    border: dashed #fff 1px;
}

    .sortable li:hover {
        cursor: move;
    }

    .sortable li.picked {
        border: dashed #dee2e6 1px;
        background-color: #fbfbfb;
        opacity: .5;
    }

/** Form */
form .nav-pills .nav-link {
    color: inherit;
}

    form .nav-pills .nav-link.active {
        background-color: #dee2e6;
        color: inherit;
    }

form fieldset {
    padding: 8px 16px;
}

    form fieldset legend {
        font-size: 1rem;
        font-weight: 600;
        border-bottom: solid #ced4da 1px;
        margin: 0;
        padding-bottom: 16px;
    }

.select2-container {
    display: block !important;
}

    .select2-container .select2-selection--single {
        height: auto !important;
    }

.select2-container--default .select2-selection--single {
    border: solid #ced4da 1px !important;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 !important;
    line-height: 1.5 !important;
}

.select2-selection__arrow {
    display: none;
}

/** Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/** Mobile screen */
@media (max-width: 500px) {
    .navbar-nav .nav-link {
        position: relative;
    }

        .navbar-nav .nav-link::after {
            position: absolute;
            top: 50%;
            right: 0;
        }

    .dropdown-menu {
        border: none;
        background-color: transparent;
        padding: 0;
    }

        .dropdown-menu .dropdown-item {
            padding: 8px;
        }
}
